*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color:black;
    
}

header{
    display: flex;
    justify-content: space-between;/*Divide os espaços = justify-content: space-around; e deixa colado nas laterais da página= justify-content: space-between; */
    font-family:Arial, Helvetica, sans-serif ;
    border-bottom: 1px solid black;
    font-weight: bold;/*largura da font-family*/
    height: 30px;
    align-items: center;
    background-color:black;
    padding: 20px;
    border-bottom: rgba(0, 0, 0, 0.2);
}


a {
    text-decoration: none;
    color: white;
    margin: 20px;
}
a:hover{
    background-color: gray;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
section {
    min-height: 80vh; /* Define uma altura mínima de 80% da altura da tela */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(184, 179, 179, 0.705);
    color: white; /* Ou outra cor legível */
    margin-bottom: 20px;
    position: relative;
    background-image: url(../imagens/tesc.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* Ou outra altura mínima */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white; /* Ou outra cor legível */
    margin-bottom: 20px;
    position: relative;
}


h2 {
    text-align: center;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
ul li {
    margin-right: 20px;
}
.sobre{
    padding: 10px;
    margin: 20px;
}
h1{
     color: rgb(118, 233, 10);
    }
    #nome{
        font-size: 200%; color: rgb(0, 0, 0);
    }

#principal{
        display: flex;
        justify-content: center;
    }
#fotore{
    border-radius: 50%;
    width: 150px;
}
.div1, .div2{
       align-items: center;
       

}
#inicio{
    background-image: url(../imagens/tesc.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tecnologias{
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    background-image: url(../imagens/tesc.avif);
    color: rgb(255, 255, 255); 
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 
    
}
#projetos{
    background-image: url(../imagens/tesc.avif);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(252, 252, 252);
    
    
}
.projetos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.projeto-item {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

.projeto-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color:rgb(14, 131, 3);
}

.em-brever {
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
footer a {
    margin-right: 10px;
}
